{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}
<h2 class="text-center">Create new product</h2>
    <div class="container mt-5">
        <form method="POST" action="" id="product-form" enctype="multipart/form-data">
           <!-- for csrf token -->
            {% csrf_token %}
            <div class="form-group mb-3">
                <input type="text" name="name" class="form-control" placeholder="name" id="name" required="">
            </div>
            <div class="form-group mb-3">
                <input type="text" name="price" class="form-control" placeholder="price" id="price" required="">
            </div>
            <div class="form-group mb-3">
                <label>Attach image:
                    <input type="file" name="image" required="" id="id_image" multiple accept="image/*" >
                </label>
            </div>
            <input type="submit" class="btn btn-outline-success" >

        </form>
        <a href="{% url 'testdb:products' %}">See products list</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
    $(document).on('submit','#product-form',function(e){
        e.preventDefault();
        var data = new FormData();
        var files = $("input[id^='id_image']")[0].files;
        for (i=0; i<files.length; i++) {
            data.append("image", files[i]);
            }
        data.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());
        data.append("name", $("#name").val());
        data.append("price", $("#price").val());

        $.ajax({
            url: "",
            type:'POST',
            processData: false,
            contentType: false,
            mimiType: "multipart/form-data",
            data: data,
            success:function(){
                  alert('Saved');
                  $("#product-form")[0].reset();
                  }
            })
        });
    </script>
{% endblock %}