{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
  <hr>
  <!-- this code block is used to loop the data in the database -->
  {% for data in queryset %}
  <div class="list-group mb-3">
    <p>Name: {{data.name}}</p>
    <p>Price: {{data.price}}</p>

    {% load static %}
    <a href="{% static data.image %}" > Image link </a>

    <form action="{% url 'testdb:edit_product' pk=data.id %}">
      <button type="submit" id="edit" value="edit">Edit</button>
    </form>
    <form action="{% url 'testdb:delete_product' pk=data.id %}">
      <button type="submit" id="delete" value="delete">Delete</button>
    </form>
  </div>
  {% endfor %}
  <hr>
</div>
{% endblock %}